body {
    background-color: black;

}
.jumbotron-fluid {
    background-color: black; 
}

h1, h2, h3, .different-button, #date-here {
    font-family: 'Wallpoet', cursive;
    color: white;
}

#city-stats {
    margin-bottom: 10vh;
}

#future-weather {
    margin-left: 5vw;
}

#title {
    margin-bottom: 10vh;
}

p {
    font-family: 'Goldman', cursive;
    color: white;
}

.content {
    border-radius: 25px;
}

.col-2 {
    padding: 20px;
}

.different-button {
    padding: 10px;
    margin: 5px;
    background-color: black;
}

.form-control {
    margin-bottom: 5px;
}

.col-10 {
    background-color: black;
}

.weather-day {
    background-color: black;
    text-align: center;
}

