body {
    background-color: black;

}

#title {
    margin-bottom: 10vh;
    border-radius: 25px;
}

.black-text {
    color: black;
}

h1, h2, h3, .different-button {
    font-family: 'Wallpoet', cursive;
    color: white;
}

#city-stats {
    margin-bottom: 10vh;
}

#future-weather {
    margin-left: 5vw;
}


p, .classic-button {
    font-family: 'Goldman', cursive;
    color: white;
}

.content {
    border-radius: 25px;
    border: solid maroon;
}

#city-stats {
    border-radius: 25px;
}

#decoration {
    border-radius: 25px;
    margin-bottom: 5vh;
}

#current-stats {
    margin-bottom: 5vh;
}

.col-2 {
    padding: 20px;
}

.different-button {
    padding: 10px;
    margin: 5px;
    color: black;
    border: solid #6e4a7d;
}

.classic-button {
    padding: 10px;
    margin: 5px;
    color: black;
    border: solid #dbb039;
}

.different-button:hover, .classic-button:hover {
    background-color: black;
    color: white;
    border: solid white;
}

.form-control {
    margin-bottom: 5px;
}

.col-10 {
    background-color: black;
}

.weather-day {
    background-color: black;
    text-align: center;
}

